* {
    background-color: #19274d;
    color: white;
    font-family: verdana;
}

html {
    cursor: none;
}

html, body {
    margin: 0px;
}

.circle {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15px;
    height: 15px;
    padding: 10px;
    border-radius: 50%;
    background-color: rgb(6, 53, 182);
    cursor: none;
    box-shadow: 0 0 0 1px rgba(4, 42, 145, 0.7);
    background-clip: content-box;
  }

  #circleId {
    position: fixed;
    z-index: 9999;
    pointer-events: none;
  }

.Header {
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 100px;
    cursor: none;
}

.header-content:hover .nameHover {
    color: #ffffff;
}

.header-content {
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    max-width: 40%;
}

h1.mainHeader, h5.subHeader {
    width: 100%;
}

h1.mainHeader {
    margin-bottom: 2.5px;
    font-size: 4em;
    color: #a1a1a1;
}

span.nameHover {
    color: #a1a1a1;
    transition: color 1s;
}

h5.subHeader {
    margin-top: 2.5px;
    font-size: 1.2em;
    color: #dbdbdb;
    margin-bottom: 30px;
}

p.subHeader {
    width: 95%;
    margin: 0 0 15px 0;
}

.navbar, .navbar * {
    cursor: none !important;
}

.navbar {
    display: flex;
    position: sticky;
    justify-content: center;
    background-color: rgb(17, 31, 70);
}

.navbar ul {
    display: flex;
    list-style: none;
    padding: 10px;
    margin: 0px;
    background-color: rgb(17, 31, 70);
    justify-content: space-between;
    gap: 20px;
}

.navbar a {
    font-size: 1.1em;
    color: white;
    text-decoration: none;
    padding: 10px 40px;;
    margin: 0px;
    display: block;
    text-align: center;
    background-color: rgb(17, 31, 70);
}

.navbar a:hover {
    background-color: #1a1a1a;
    box-shadow: 0 0 0 10px #1a1a1a;
}

h2.mainBody {
    display: flex;
    position: relative;
    justify-content: center;
    margin-top: 200px;
    color: #a1a1a1;
}

.skills ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 10px;
    margin: 0px;
    gap: 20px;
}

.skills li {
    padding: 7px 20px;
    border: 3px solid #a1a1a1;
    color: #a1a1a1;
}

.skills li:hover {
    padding: 7px 20px;
    border: 3px solid #ffffff;
    color: #ffffff;
    transition: color 1s;
    transition: border 1s;
}

.mainBody:hover ~ .skills li {
    color: #ffffff;
    border-color: #ffffff;
    transition: color 1s;
}

.mainBody:hover {
    color: #ffffff;
    border-color: #ffffff;
    transition: color 0.3s;
}

.body-content {
    width: 20%;
    margin: auto;
}

@media (max-width: 768px) {
   
}
  
@media (min-width: 769px) {
    .navbar a {
      padding: 10px 15px;
    }
  
    body {
      font-size: 18px;
    } 
}